<% title "Messages" %>

<h2>Messages</h2>

<ul>
	<% @messages.each do |message| %>
		<li>
			<% if current_user == message.sender %>
				<%= link_to "#{message.receiver.login}", message %>
			<% elsif current_user == message.receiver %>
				<%= link_to "#{message.sender.login}", message %>
			<% end %><br />
			<%= truncate(message.responses.last.content, :length => 100) %> <br />
			<%= time_ago_in_words(message.responses.last.created_at) %> ago
		</li>
	<% end %>
</ul>