<p>
	Dear Ryry,
</p>
<p>
	Surprisingly enough, someone sent you a message using the IWBY contact form.
</p>
<p>
	From: <%= @name %>
</p>
<p>
	Email Address: <%= @email %>
</p>
<p>
	<%= @message %>
</p>