.infinity-box-right {
	float: none;
	margin-top: 0 !important;
}

.infinity-right, .infinity-right-corner { display: none; }

#splash-container {
    margin: 0 auto;
    width: 100%;
}

#splash-container header h1 a {
	background: url(../images/splash-title-mobile.png) no-repeat;
	text-indent: -9999px;
	width: 300px;
	height: 36px;
	display: block;
	margin: 0 auto;
}

footer #container h1 a {
	background: url(../images/splash-title-mobile-footer.png) no-repeat;
	text-indent: -9999px;
	width: 300px;
	height: 36px;
	display: block;
	margin: 0 auto;
}

h2.subtitle {
	font-size: 24px;
	text-align: center;
}

h3#description {
	width: 300px;
	text-align: center;
	margin: 15px auto 0;
}

.fl, .fr { float: none; }

p#learn-more { 
	margin: 15px auto;
	width: 110px;
}

.infinity-box-left { margin-top: 50px !important; width: 100%; padding: 10px 0 30px 0 !important; }

img#victorian {
	margin: 0 auto !important;
	width: 300px;
	display: block;
}

footer #container {
	margin: 0 auto;
	padding: 25px 0;
	width: 100%;
}

footer #container p {
	text-align: center;
	margin: 10px 0 15px;
}

footer nav ul {
	width: 265px;
	margin: 15px auto;
	padding: 0;
}

footer nav ul li:first-child {
	margin-left: 0;
}

footer nav ul li {
	float: none;
	display: inline;
}

.learn-more {
	width: 90%;
	margin: 0 auto;
}

#container { 
	height: 100% !important;
	margin-top: 10px;
	width: 100% !important;
}

.logged_in { width: 100% !important; }

div.promo {
	width: 300px;
	margin: 0 auto 10px;
	float: none;
	height: 250px;
}

div.promo a { width: 250px; height: 200px; }

div.promo a .icon { font-size: 110px !important; }

.first, .second {
    margin: 0 auto 10px !important;
}

.logged-in-victorian, .logged-in-header, .infinity-left-corner, .infinity-left, em.distance, header.main nav li#profile, ul#responses li.received img, ul#responses li.sent img, #respond img, .upload-photo { display: none; }

.subheader {
	font-size: 24px !important;
	margin: 25px auto !important;
	text-align: center;
	max-width: 300px;
}

.flfr { float: left !important; }

ul.users li h3 {
	font-size: 18px;
}

ul.users li {
	font-size: 12px;
}

.user_list {
	float: none;
	width: 100%;
}

header.main {
	position: static;
	height: 100px;
}

header.main div#content {
	width: 100%;
	padding-top: 10px;
}

header.main nav {
	float: none;
	margin: 0 auto;
}

header.main nav ul { 
	margin: 0 auto;
	padding: 0;
	width: 320px;
}

header.main h1 { float: none; margin: 0; }
header.main h1 a { margin: 0 auto 25px; }

header.main nav li { margin-right: 13px; float: none; font-size: 12px; }

.footer-column, .footer-links { margin: 0 !important; }

footer nav.logged_in ul li { display: block; }
footer nav.logged_in ul li a {
	padding: 10px 0 10px 5px;
	border-bottom: 1px solid #999;
	display: block;
}
footer nav.logged_in ul { width: 100%}

.bottom-random { width: 289px; margin: 15px auto; }

.profile-infinity-box-left {
	width: 100%;
	position: static !important;
	margin-bottom: 15px;
	font-size: 12px;
	padding: 10px 0 !important;
}

nav#user {
	float: none;
	width: 240px;
	margin: 15px auto;
}

ul#photos li img {
	max-width: 300px;
}

ul#photos {
	margin: 15px auto;
	width: 320px;
}

.profile-subheader {
	font-size: 24px !important;
	margin: 15px 0 !important;
	text-align: center;
	width: 320px;
}

ul#photos li {
	margin: 0 auto 50px;
	max-width: 300px;
}

div#about {
	margin: 0 auto;
	width: 300px;
}

div#account_settings_content {
	float: none;
	width: 300px;
	margin: 0 auto;
}

.messages_list_mobile {
	width: 300px !important;
	margin: 0 auto;
}

ul.users { margin: 0 !important; }

nav.pagination { 
	font-size: 8px;
	margin: 0 auto;
	width: 312px; 
}

ul#messages li a p {
	font-size: 12px;
	width: 200px;
}

ul#responses li.received div.message, ul#responses li.sent div.message { width: 95%; }

div#respond textarea {
	width: 87%;
	float: none;
}

div#respond { width: 100%; }

div#respond h2 { margin: 50px 0 0 10px !important; }

ul#responses li { width: 100%; }

div#respond input { margin: 10px 0 10px 10px; }

h2.message {
	font-size: 24px;
	margin: 0 0 0 10px;
}

h3.message {
	font-size: 18px;
	margin: 10px 0 0 10px;
}

ul#responses li.sent div.message {
	float: none;
	margin-left: 0;
}

ul#responses li.sent {
	float: none;
}

ul#photos li p { width: 300px; }
