- title "About"

.learn-more

	%h2 About
	
	%h3 What's This Shit?
	
	%p Despite the offensive web address, I Would Bang You is a dating site at it's heart.  This is the 21st Century, and all the kids these days are banging each other before they start dating.  Get off my lawn.
	
	%p The point is, would you ever date someone that you had no interest in banging? Of course you wouldn't.  Physical attraction is paramount when it comes to dating. Especially dating online.  It's really easy to misrepresent your personality online, but not so much your looks.  So shouldn't looks predominate? Your true personality can shine through while you are bathing in post-coital bliss.
	
	%h3 Why Should I Bother?
	
	%p What's the biggest problem with online dating? That's a trick question, there are many problems.  Some of the more common complaints*:
	
	%ul
		%li I keep getting messages from creepers
		%li That shit is expensive
		%li Everyone takes themselves waaaaayyyy too seriously
		%li It's so much work! Online dating is like a second job
		%li Not enough Victorian imagery
		
	%p I Would Bang You hopes to solve all of these issues in one fell swoop, and have some fun with the whole concept at the same time.  One of the biggest benefits of I Would Bang You is you will only receive messages from people you pre-approve of (and vice versa).  No more randoms asking you "hey gurl can I likk your pussy all night long?"
	
	%p I Would Bang you is free. Always.  And ad free. It's impossible to take yourself too seriously while using it.  It's super easy to use. And there's tons of Victorian line drawings plastered all over it.
	
	%h3 How Does It Work?
	
	%p= "It's pretty easy.  First things first, #{link_to 'sign up', new_user_registration_path, :style => "font-weight:bold; text-decoration:underline;color:#000;"}. Have you done that? Good. Next, upload some photos, and fill out your profile (or not.  But definitely upload photos).  Then start rating people.  You can do this from the homepage, where you'll meet some potential matches.  The best place to quickly browse profiles is by clicking on \"random\". Think of this section as #{link_to 'hotornot.com', 'http://www.hotornot.com/', :target => '_blank', :style => "font-weight:bold; text-decoration:underline;color:#000;"} crossed with online dating.".html_safe
	
	%p The only way you can contact someone on the site if you click "I would bang them" on their profile, and they click the same on yours (or "I would date them", but you probably could have figured that out.)
	
	%p You can also search for people with more specific criteria by going to (you guessed it) "search".  
	
	%p It really is terribly difficult to use, we know.
	
	%p If you've already read this far, you have wayyyy too much time on your hands.  Not to mention you could have easily signed up by now and randomly clicked buttons until you passed out from too much mental effort . So sign up already.
	
	%p{ :style => "font-size: 0.5em;" } *I've never actually received any of these complaints, as up until now, I have never run a dating website. I would imagine most of them are true. Probably.  Hopefully.